<!---->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calificación</title>

    <!-- Direccionamiento a hoja de estilos -->
    <link rel="stylesheet" href="styles.css">
    
</head>

<body>
    <div class="score-container">
        <h1>Calificación</h1>
        <div class="grade">
            
        </div>
    </div>

    <div class="return">
        <div class="hdiv">
          <button class="home btn btn-primary" id="home">Return home</button>
        </div>
      </div>
</body>
<script>
    const calificacion = localStorage.getItem('calificacion');
    const calificacionRedondeada = Math.round(calificacion);
    const scoreCircle = document.querySelector('.grade');
    scoreCircle.textContent = calificacionRedondeada;

    document.getElementById('home').addEventListener('click', () => {
        window.location.href = 'index.html';
    });
</script>
</html>