body {
    background-color: #b3b3b3;
    color: black;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/*scroll-bar settings, to hidde it*/
body::-webkit-scrollbar {
    width: 10px;
}

.navbar {
    background-color: #b3b3b3;
    justify-content: space-between;
    padding: 20px 50px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 18px;
    margin-left: 20px;
}

.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero h1 {
    font-size: 120px;
    margin-bottom: 0;
}

.subtitle {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 40px;
}

.hero p.description {
    font-size: 18px;
    max-width: 600px;
    margin: 20px auto;
}

.btn-custom {
    background-color: black;
    color: white;
    border-radius: 20px;
    text-align: center;
    left: 0;
    width: 100px;
    height: 40px;

}

.btn-custom-sala {
    background-color: black;
    margin-top: 3px;
    color: white;
    border-radius: 20px;
    text-align: center;
    left: 0;
    width: 150px;
    height: 40px;
}

.next-section {
    background-color: #b3b3b3;
    padding: 50px 20px;
    text-align: center;
}

.next-section img {
    max-width: 100%;
    height: auto;
}

.next-section p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.features-section {
    background-color: #b3b3b3;
    padding: 50px 20px;
    text-align: left;
}

.features-section h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.feature {
    text-align: left;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 24px;
    margin-top: 10px;
}

.feature p {
    font-size: 16px;
}

.feature-number {
    font-size: 48px;
    font-weight: bold;
    color: #999;
}

.features-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.feature {
    flex: 1;
    padding: 0 20px;
}

.fullscreen-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 30px;
}

html {
    scroll-behavior: smooth;
}

#we {
    font-family: Arial, sans-serif;
}

.new-exam-section {
    text-align: center;
    background-color: #b3b3b3;
    padding: 50px 20px;
    border-radius: 10px;
}

.new-exam-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.new-exam-section .form-control {
    background-color: #e0e0e0;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
    width: 300px;
    display: inline-block;
}

.new-exam-section .btn-generate {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border: none;
}

.score-container {
    text-align: center;
}

h1 {
    color: #333;
    /* Dark grey color for the text */
}

.grade {
    width: 100px;
    /* Diameter of the circle */
    height: 100px;
    /* Diameter of the circle */
    background-color: #000;
    /* Black background */
    color: white;
    /* White text color */
    border-radius: 50%;
    /* Rounded circle */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    /* Centering the circle horizontally */
    font-size: 24px;
    /* Larger text size for the score */
}


.login-section {
    background-color: #b3b3b3;
    background-color: #b3b3b3;
    border: none;
    border-radius: 20px;
    margin: 20px auto;
    padding: 50px 20px;
    text-align: center;
    width: 100%;
    /* El ancho del elemento será el 100% del ancho de su contenedor */
    max-width: 500px;
    /* El ancho máximo del elemento será de 500px */
    min-width: 200px;
    /* El ancho mínimo del elemento será de 200px */
}

.login-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.login-section .form-control {
    background-color: #e0e0e0;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

.login-section .btn-login {
    display: block;
    margin: 10px auto;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border: none;
    height: 50px;
}

.google_img {
    max-height: 100%;
    /* La altura máxima de la imagen será el 100% de la altura del botón */
    max-width: 100%;
    /* La anchura máxima de la imagen será el 100% de la anchura del botón */
    margin-right: 5px;
    /* Espacio entre la imagen y el texto */
}


.sidebar {
    background-color: #e0e0e0;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    margin: 5px;
}

.sidebar img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.sidebar h4 {
    margin-bottom: 30px;
    text-align: center;
}

.sidebar button {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    border-radius: 10px;
}

.sidebar a:hover {
    background-color: #d0d0d0;
}

.sidebar .btn-new-exam {
    margin-top: auto;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.main-content {
    flex: 1;
    padding: 40px;
}

.main-content h2 {
    margin-bottom: 20px;
}

.room-number {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 30px;
}

.grades {
    list-style: none;
    padding: 0;
}

.grades li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.grade-circle {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}



.register-section {
    background-color: #b3b3b3;
    border: none;
    border-radius: 20px;
    margin: 20px auto;
    padding: 50px 20px;
    text-align: center;
    width: 100%;
    /* El ancho del elemento será el 100% del ancho de su contenedor */
    max-width: 500px;
    /* El ancho máximo del elemento será de 500px */
    min-width: 200px;
    /* El ancho mínimo del elemento será de 200px */
}

.register-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.register-section .form-control {
    background-color: #e0e0e0;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

.register-section .btn-register {
    display: block;
    margin: 10px auto;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border: none;
    height: 50px;
}

.google_img {
    max-height: 100%;
    /* La altura máxima de la imagen será el 100% de la altura del botón */
    max-width: 100%;
    /* La anchura máxima de la imagen será el 100% de la anchura del botón */
    margin-right: 5px;
    /* Espacio entre la imagen y el texto */
}



.exam-entry-section {
    text-align: center;
    background-color: #b3b3b3;
    padding: 50px 20px;
    border-radius: 10px;
}

.exam-entry-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.exam-entry-section .form-control {
    background-color: #e0e0e0;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
    width: 300px;
    display: inline-block;
}

.exam-entry-section .btn-start {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border: none;
}

.container {
    background-color: b3b3b3;
    width: 80%;
    max-width: 600px;
    padding: 20px;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bold;
}

.question p {
    font-weight: bold;
}

.question label {
    display: block;
    margin-top: 10px;
}

.question input[type="radio"] {
    margin-right: 10px;
}

.finalizar {
    background: #333;
    /* Dark gray background */
    color: white;
    /* White text color */
    border: none;
    /* No border */
    border-radius: 20px;
    /* Rounded corners */
    padding: 10px 20px;
    /* Top and bottom padding 10px, left and right padding 20px */
    font-size: 16px;
    /* Text size */
    font-family: Arial, sans-serif;
    /* Font style */
}

.guardar {
    background: #333;
    /* Dark gray background */
    color: white;
    /* White text color */
    border: none;
    /* No border */
    border-radius: 20px;
    /* Rounded corners */
    padding: 10px 20px;
    /* Top and bottom padding 10px, left and right padding 20px */
    font-size: 16px;
    /* Text size */
    font-family: Arial, sans-serif;
    /* Font style */
}

.home {
    background: #333;
    /* Dark gray background */
    color: white;
    /* White text color */
    border: none;
    /* No border */
    border-radius: 20px;
    /* Rounded corners */
    padding: 10px 20px;
    /* Top and bottom padding 10px, left and right padding 20px */
    font-size: 16px;
    /* Text size */
    font-family: Arial, sans-serif;
    /* Font style */
}

.generator{
    background: #333;
    /* Dark gray background */
    color: white;
    /* White text color */
    border: none;
    /* No border */
    border-radius: 20px;
    /* Rounded corners */
    padding: 10px 20px;
    /* Top and bottom padding 10px, left and right padding 20px */
    font-size: 16px;
    /* Text size */
    font-family: Arial, sans-serif;
    /* Font style */
}
/* div return, fixed, situaded bottom of the page */
.return{
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* button's div */
.hdiv{
    position: fixed;
    bottom:0;
    left:5px;
    margin-bottom: 5px;
}

.gdiv{
    position: fixed;
    bottom:0;
    right:5px;
    margin-bottom: 5px;
}


button.finalizar:hover {
    background: #333;
    /* Dark gray background */
    color: white;
    /* White text color */
    border: none;
    /* No border */
    border-radius: 20px;
    /* Rounded corners */
    padding: 10px 20px;
    /* Top and bottom padding 10px, left and right padding 20px */
    font-size: 16px;
    /* Text size */
    font-family: Arial, sans-serif;
    /* Font style */
}
button.guardar:hover {
    background: #333;
    /* Dark gray background */
    color: white;
    /* White text color */
    border: none;
    /* No border */
    border-radius: 20px;
    /* Rounded corners */
    padding: 10px 20px;
    /* Top and bottom padding 10px, left and right padding 20px */
    font-size: 16px;
    /* Text size */
    font-family: Arial, sans-serif;
    /* Font style */
}
button.home:hover {
    background: #333;
    /* Dark gray background */
    color: white;
    /* White text color */
    border: none;
    /* No border */
    border-radius: 20px;
    /* Rounded corners */
    padding: 10px 20px;
    /* Top and bottom padding 10px, left and right padding 20px */
    font-size: 16px;
    /* Text size */
    font-family: Arial, sans-serif;
    /* Font style */
}
button.generator:hover {
    background: #333;
    /* Dark gray background */
    color: white;
    /* White text color */
    border: none;
    /* No border */
    border-radius: 20px;
    /* Rounded corners */
    padding: 10px 20px;
    /* Top and bottom padding 10px, left and right padding 20px */
    font-size: 16px;
    /* Text size */
    font-family: Arial, sans-serif;
    /* Font style */
}


.body1 {
    background-color: #b3b3b3;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}


.room {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bfbfbf;

}

.exam-entry {
    text-align: center;
}

.title1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.ri {
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    width: 200px;
    text-align: center;
    background-color: #e0e0e0;

}

.button1 {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

/* button of the teacher view where can select to preview an exam */

.exam-button {
    width: 10px;
    position: relative;
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid #d3d3d3;
    border-radius: 25px;
    background-color: #d3d3d3;
    color: black;
    cursor: pointer;
    outline: none;
    margin: 10px;
    /* Añadido para espacio entre botones */
}

.close-button {
    white-space: nowrap;
    /* Evita que el texto dentro del span se rompa en líneas */
    visibility: hidden;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background-color: gray;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover {
    background-color: darkgrey;
}

.exam-button:hover .close-button {
    visibility: visible;
    /* to show */
}

/* continer exam-viz */

#exam-viz {
    padding: 20px;
    flex-direction: column;
    align-items: center;
    animation: spin 1s linear infinite;
    /* scroll */
    overflow-y: auto;
    scrollbar-width: none;
    /* margins */
    margin-left: 20%;
    margin-right: 20%;
}






/* spinner container */
.div1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.error-message {
    /*error message existing user*/
    color: #dc3545;
    font-size: 1em;
    margin-top: 10px;
    display: none;
    /*not visible*/
    text-align: center;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.back-arrow {
    /*para retroceder */
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    z-index: 1000;
}

.back-arrow:hover {
    background-color: grey;
    color: black;
}

/* scroll for exam-container in professor view */

.scroll-padre {
    height: 200vh;
}

.scroll-bg {
    background: #e0e0e0;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.scroll-div>* {
    width: 100%;
    background: #e0e0e0;
    height: 600px;
    overflow: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Para Firefox */
    -ms-overflow-style: none;
    /* Para Internet Explorer y Edge */
}

.scroll-div>*::-webkit-scrollbar {
    display: none;
    /* Para Chrome, Safari y Opera */
}

/* historial button */
.button-h {
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    background-color: #cacaca;
    color: #cacaca;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;

}

/* enter your name, interface */

.bodyname {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bfbfbf;
    font-family: Arial, sans-serif;
  }
  
  .containername {
    text-align: center;
  }
  
  .h1name {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000;
  }
  
  .inputname[type="text"] {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
  }
  
  .buttonname {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .buttonname:hover {
    background-color: #333;
  }
  
/*welcome interface*/
.bodyw {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bfbfbf;
    font-family: Arial, sans-serif;
  }
  
  .welcome-container {
    text-align: center;
  }
  
  #welcome-message {
    font-size: 2rem;
    color: #000;
    margin-bottom: 20px;
  }
  
  #round-button {
    width: 50px;
    height: 50px;
    background-color: #000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size:20px;
    color:white;
  }
  
  #round-button:hover {
    background-color: #333;
  }

/*style for delete question button*/
.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
  }
  
  .delete-button:hover {
    background-color: #dc3545;
  }  


  /*AQUI PONER AL FINAL LO DE VISTA PROFESOR*/


  /* */